@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.platform-icon {
  filter: brightness(0) saturate(100%);
}

.dark .platform-icon {
  filter: brightness(0) saturate(100%) invert(1);
}

.custom-bg {
  @apply bg-transparent bg-gradient-to-b from-zinc-50 to-zinc-300/30 text-black backdrop-blur-xl dark:bg-transparent dark:bg-gradient-to-b dark:from-zinc-500/30 dark:to-zinc-950/50 dark:text-white dark:backdrop-blur-xl;
}
