@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.platform-icon {
  filter: brightness(0) saturate(100%);
}

.dark .platform-icon {
  filter: brightness(0) saturate(100%) invert(1);
}

.custom-bg {
  @apply text-black dark:text-white backdrop-blur-xl dark:backdrop-blur-xl bg-gradient-to-b dark:bg-gradient-to-b from-zinc-50 dark:from-zinc-500/30 to-zinc-300/30 dark:to-zinc-950/50 dark:bg-transparent bg-transparent;
}
